@import "variables";

.balance {
  background-color: $soft-red;
  color: $very-pale-orange;
  width: 100%;

 &__title {
  font-size: $fs-sm;
  font-weight: $fw-reg;
  margin: 0.83em 0 0.625em 0;
 }

 &__amount {
  margin: 0 0 0.625em;
  font-size: $fs-med;
  font-weight: $fw-bold;
 }
}