@import "variables";

html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $cream;
  color: $medium-brown;
  font-family: $font;
  font-weight: $fw-reg;
  margin: 0;
  padding: 0;
  width: 100vw;
}

hr {
  border: 2px solid $cream;
  margin-top: 1.5625em;
  width: 100%;
}

// Helper Classes
.flex {
  display: flex;

  &-fd-c {
    flex-direction: column;
  }

  &-fd-cr {
    flex-direction: column-reverse;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-fe {
    justify-content: flex-end;
  }

  &-ai-c {
    align-items: center;
  }
}

.wrapper {
  width: $wrapper-width;

  @media only screen and (max-width: 34.375em) {
    width: 100%;
  }
}

.container {
  border-radius: $container-border-radius;
  padding: $container-padding;

  &-gap {
    row-gap: 1.5625em;
  }
}
.hidden {
  visibility: hidden;
}