// Primary Colors
$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

// Neutral Colors
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

// Typography
$font: 'DM Sans', sans-serif;
$fw-reg: 400;
$fw-bold: 700;
$fs-sm: 1rem;
$fs-med: 1.5625rem;
$fs-lg: 2.8125rem;

// Sizing constants, etc
$container-padding: 0.9375em 1.875em;
$wrapper-width: 30em;
$container-border-radius: 1.25em;
$bar-width: 3.125em;